NEXT_PUBLIC_APP_DOMAIN=aitradingops.pro
NEXT_PUBLIC_APP_NAME="AI Trading Ops"
NEXT_PUBLIC_PROJECT_DRIVE_URL="https://drive.google.com/drive/folders/1H__9S7AdYV5d4XYw6hSqN-QDXInXEF2Q?usp=sharing"
NEXT_PUBLIC_TRADING_CALENDAR_URL="https://calendar.google.com/calendar/u/2?cid=YjFjNmU3N2VhYjI3Yjk0OTA2NDRjMWQ0MWI1NDI4M2Q2NzhmY2FjZmZjZTQyZGIyNTVjYmUxMzJmZmY3NTBmYUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t"
NEXT_PUBLIC_TRADING_CALENDAR_ID="b1c6e77eab27b9490644c1d41b54283d678fcacffce42db255cbe132fff750fa@group.calendar.google.com"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=
APP_ADMIN_EMAIL=aitradingops@gmail.com
ALLOWED_LOGIN_EMAIL=aitradingops@gmail.com
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
PAYPAL_PLAN_ID=

# Optional for sandbox testing:
# PAYPAL_API_BASE=https://api-m.sandbox.paypal.com
